.form {
    display: flex;
  }
  
  .formInput {
    margin-right: 20px;
    height: 20px;
    border: 2px solid rgb(150, 210, 220);
    border-radius: 10px;
  }
  
  .formBtn {
    background-color: lightcoral;
    border: none;
    border-radius: 10px;
    color: black;
  }
  
  .formBtn:hover,
  .formBtn:focus {
    background-color: pink;
  }
  
  .labelTitle {
    margin: auto;
  }